<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <env name="WEBOTS_HOME" value="/usr/local/webots" />
  <arg name="no-gui" default="false," doc="Start Webots with minimal GUI"/>
  <arg name="world" default="ur5"/>

  <include file="$(find ur_e_webots)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no-gui" value="$(arg no-gui)"/>
    <arg name="world" value="$(find ur_e_webots)/worlds/$(arg world).wbt"/>
  </include>

</launch>
